* {
	/* border-style: dotted;
	border-width: 1px;
	border-color: orange; */
}

body {
    font-family: 'Courier New', Courier, monospace;
}



path:hover {
    fill: #ff270a;
    cursor: pointer;
}

g:hover {
    fill: #006cc5;
}
#left-eye, #right-eye {
	position: relative;
    animation-name: flash1;
    animation-duration: 50ms;
    animation-iteration-count: infinite;
}


/* Tablet */
.rotate-this {
    animation-name: full-rotation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes full-rotation {
    0% {
        transform: translate(5px, 0px);
    }
    25% {
      transform: translate(0px, -5px);
    }
    50% {
      transform: translate(-5px, 0px);
    }
    75% {
      transform: translate(0px, 5px);
    }
    100% {
      transform: translate(5px, 0px);
    }
          
}

.rainbow-hand:hover {
    transform-origin: right bottom; /* or 100% 100%, same thing */
    transform:
      rotate(90deg)
      rotate(90deg)
}

/* Flashing sections */

.animate-rainbow {
    animation-name: rainbow1;
    animation-duration: 150ms;
    animation-iteration-count: infinite;
}

.animate-flash {
    animation-name: flash2;
    animation-duration: 100ms;
    animation-iteration-count: infinite;
}

@keyframes rainbow1 {
    0%   {fill:red;}
    10%   {fill:orange;}
    30%  {fill:yellow;}
    50%  {fill:green;}
    70%  {fill:blue;}
    90% {fill:purple;}
    100%   {fill:red;}
}

@keyframes flash1 {
    0%   {fill:black;}
    100%   {fill:white;}
}

@keyframes flash2 {
    0%   {fill:white;}
    100%   {fill:black;}
}

#muteButton {
  display: flex;
  height: 5vh; 
  width: 100%;
  cursor: pointer;
}
  #muteButton svg {
    position: relative;
    top: 2vh;
    z-index: 500;
    width: 100%;
    height: 3vh;
}
  #muteButton #muteLine {
    transition: all .25s ease-in-out; 
}

  #muteButton #muteLine.hidden {
    opacity: 0; 
}

.link-container {
    display: flex;
    text-align: center;
    margin: auto;
}

.event-link {
    display: flex;
    position: relative;
    text-decoration: none;
    color: black;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

.event-link:hover {
    color: #ff270a;
}

@media screen and (min-width : 1px) and (max-width: 767px){

.mobile-container-div{
	display: block;
}

.tablet-container-div
{
	display: none;
}
.desktop-container-div{
	display: none;
}
}

/*Tablet*/
@media screen and (min-width : 768px) and (max-width: 1023px) {
	
.mobile-container-div{
	display: none;
}

.tablet-container-div
{
	display: block;
}
.desktop-container-div{
	display: none;
}

}


/*Desktop*/
@media screen and (min-width : 1024px) {

.mobile-container-div{
	display: none;
}

.tablet-container-div
{
	display: none;
}
.desktop-container-div{
	display: block;
}

}