* {
	border-style: dotted;
	border-width: 1px;
	border-color: orange;
}

#left-eye, #right-eye {
	position: relative;
    animation-name: flash1;
    animation-duration: 50ms;
    animation-iteration-count: infinite;
}

#the-big- piece, #big-piece-desktop {
    position: relative;
    animation-name: flash2;
    animation-duration: 100ms;
    animation-iteration-count: infinite;
}

@keyframes rainbow1 {
    0%   {fill:red;}
    10%   {fill:orange;}
    30%  {fill:yellow;}
    50%  {fill:green;}
    70%  {fill:blue;}
    90% {fill:purple;}
    100%   {fill:red;}
}

@keyframes flash1 {
    0%   {fill:black;}

    100%   {fill:white;}
    
}

@keyframes flash2 {
    0%   {fill:white;}

    100%   {fill:black;}
    
}






.folsom-street-flag {

}


#muteButton {
/*  z-index: 500;*/
  width: 100%;
  height: 5vh; 
  text-align: center;
}
  #muteButton svg {
    position: relative;
    top: 2vh;
    z-index: 500;
    right: 0;
    width: 15%;
    height: 3vh; }
  #muteButton #muteLine {
    transition: all .25s ease-in-out; }
  #muteButton #muteLine.hidden {
    opacity: 0; }

@media screen and (min-width : 1px) and (max-width: 767px){

.mobile-container-div{
	display: block;
}

.tablet-container-div
{
	display: none;
}
.desktop-container-div{
	display: none;
}
}

/*Tablet*/
@media screen and (min-width : 768px) and (max-width: 1023px) {
	
.mobile-container-div{
	display: none;
}

.tablet-container-div
{
	display: block;
}
.desktop-container-div{
	display: none;
}

}


/*Desktop*/
@media screen and (min-width : 1024px) {

.mobile-container-div{
	display: none;
}

.tablet-container-div
{
	display: none;
}
.desktop-container-div{
	display: block;
}

}